 
.entete p span{
	border-bottom: 2px solid #FFC107;
}
h2 span {
	color: #FFC107;
}
h3 img {
	height: 50px;
	width: 50px;
}
h3 i  {
	color: #FFC107;
}

h3 {
	border-bottom: 2px solid #FFC107;	
}

h4 {
	background-color: black;
	color: #FFC107;
}
.hobbie i {
	padding: 10px;
	font-size: 30px;
	border: 2px solid;
	border-radius: 50%;	
}   
div.col-4.informationpersonnelle{
	padding: 0px;
	background-color:  #FFC107;
}
.informationpersonnelle img {
	padding: 20px;
	height: 40%;
	width: 40%
}

span.gras {
	font-weight: bold;   	
}
div.col p img {
	height: 30px;
	width: 30px;
}
.espacelateral {
	padding: 20px;
}



